<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Actor1</th>
      <th>Actor2</th>
      <th>Actor3</th>
      <th>Releaseyr</th>
      <th>Rating</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Movie.all.each do |movie| %>
      <tr>
        <td><%= movie.id %></id>
        <td><%= movie.title %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.director %></td>
        <td><%= movie.actor1 %></td>
        <td><%= movie.actor2 %></td>
        <td><%= movie.actor3 %></td>
        <td><%= movie.releaseyr %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.description %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
