<div id="container">
<p id="notice"><%= notice %></p>

<%if @movie.viewable?%>
		<h1><%= @movie.title %></h1>

		<div style="text-align:center;margin-bottom:20px">
		<% @movie.rating.times do%>
			<%= image_tag "star.png", class:"star" %>
		<%end%>
		</div>

		<div class="row">
			<div class="col-md-4">
				<%= image_tag @movie.picture_link %>
			</div>
			<div class="col-md-8">
			<p><%= @movie.description %></p>
			<ul>
				<li>Directed by <%= @movie.director %></li>
				<li>Starring  <%= @movie.actor1 %>, <%= @movie.actor2 %>, and  <%= @movie.actor3 %></li>
				<li>Released <%= @movie.releaseyr %></li>
				<li>Genre: <%= @movie.genre %></li>
			</ul>
			</div>
		</div>
		
		<p>
  		<strong>Rating:</strong>
  		<%= @movie.rating %>
		</p>
		
		<%= content_tag(:iframe, nil, src: @movie.video_link)%>

		
		</br>
		<% if !current_user.nil?%>
		<% if current_user.admin?%>
			<%= link_to 'Destroy', :method => :destroy %>
			|<%= link_to 'Edit', edit_movie_path(@movie) %>
		<% end %>
		<% end %>
		
		<%= link_to 'Back', index_path %>
	</div>
 


<%end%>
